<!-- <button  routerLink="/addbooks"  routerLinkActive="active" mat-raised-button color="primary" >Add book form</button> -->
<!-- <mat-accordion>
    <mat-expansion-panel *ngFor = "let cla of classify$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
            {{cla.category}}
        </mat-panel-title>
      </mat-expansion-panel-header> 
    the article:  {{cla.title}}
    </mat-expansion-panel>
  </mat-accordion> -->

  <table id="t01" style="width:80%">
    <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
    </tr>
    </thead>
    <tbody *ngFor = "let cla of classify$ | async">
     <!-- <div *ngFor = "let cla of classify$ | async"> -->
    <tr>
      <td>{{cla.title}}</td>
      <td>{{cla.body}}</td>
     <td> <button mat-raised-button color="warn" (click)=deletePost(cla.id) >
            Delete Post
           </button></td>
      <td>  <button mat-button (click) = "addLikes()">LIKE {{likes}}</button></td>
    </tr>
    <!-- </div> -->
    </tbody>
  </table>