<mat-accordion>
        <mat-expansion-panel *ngFor = "let post of posts$|async">
          <mat-expansion-panel-header>
            <mat-panel-title>
           {{post.id}}.   {{post.title}}
          
         
            </mat-panel-title>
          </mat-expansion-panel-header> 
          <b> body: </b>{{post.body}} 
          <div *ngFor = "let comment of comments$ | async"> 
                <div *ngIf = "comment.postId == post.id">
                        <b>Comment: </b><em>{{comment.body}}</em>
                </div>
             </div>  
             <button mat-raised-button color="warn" (click)= "push()" >Save</button>
        </mat-expansion-panel>
      </mat-accordion>
    